.navitem{
    color: black !important;
   transition: all 2s;
}
.navitem:hover{
    text-decoration: underline;
}
.navhead{
    font-size: 2rem !important;
}
.navlink{
    font-size: 1.5rem;
    font-weight:500;
    margin-left: 5px;
}

.outline {
    outline: none;
}